@font-face {
  font-family: 'NEXON';
  src: url('./font/NEXON Lv1 Gothic Low OTF Light.otf');
}
/* reset */
* {
  margin: 0 auto;
  padding: 0;
}

body{
  font-family: 'NEXON';
  font-size: 20px; /* 1rem */
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

#wrap{
  width: 80%;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.055);
}

#wrap::after{
  display: block;
  content: "";
  clear:both;
}

/* header */
header{
  position: relative;
  padding: 10px 30px;
}

.logo {
  float: left;
}

.search_box {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#search {
  padding: 8px 3px;
  width: 400px;
  border-radius: 20px;
  border: 2px solid black;
}

#search:focus{
  background-color: #fff;
  border: none;
}

button {
  margin-left: 4px;
  padding: 8px 3px;
  width: 80px;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 20px;
}

.user {
  padding: 10px;
  float: right;
}